* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px){
    body {
        header {
            display: none;
        }
    
        .error {
            justify-content: center;
            text-align: center;

            margin: auto;
            padding: 50% 5%;
        }
        .mobile-screen {
            display: none;
        }
        .Complete-Popup {
            display: none;
        }
        footer {
            display: none;
        }
    }
}



@media only screen and (min-width: 600px) {
    body {
        background-color: #212121;
        
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: auto;

        .mobile-menu-bar {
            display: none;
        }
    
        header {
            background-image: url(./assets/hp-header.png);
    
            text-align: center;
    
            img {
                padding: 15px 25px;
            }
        }

        .error {
            display: none;
        }
    
        nav {
            
            color: aliceblue;
    
            width: 75%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
    
            margin: auto;

            .closebutton {
                display: none;
            }
    
            .dropdown-button {
                color: white;
                text-decoration: none;
    
                padding: 15px 25px; 
                
                font-size: 16px;
                border: none;
        
            }
            .dropdown-button:hover {
                background-color: none;
            }
    
            .dropdown {
                position: relative;
                display: inline-block;
    
                padding: 15px 25px;
    
                margin: auto;
            }
            .dropdown:hover {
                .dropdown-content{
                    display: flex;
                    flex-direction: column;
                    background-color: #212121
    
                } 
            }
    
            .dropdown-content {
                display: none;
                position: absolute;
    
                padding-top: 15px;
    
                color: red;
                min-width: 160px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                box-shadow: 0px 8px 16px 0px rgba(250, 6, 6, 0.2);
                z-index: 1;
    
                a {
                    color: white;
                    text-decoration: none;
                    padding: 10px 10px;
    
                }
                a:hover {
                    background-color: maroon;
                    padding: 10px 25px;
                }
            }
    
        }
    
        .home-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
    
            width: 70%;
    
            margin: auto;
    
            color: white;

            .theme {
                display: flex;
                flex-direction: column;
                justify-content: left;
    
                margin-bottom: 100px;
    
                .theme-img {
                    width: 100%;
    
                    padding-left: 20px;
                    padding-right: 50px;
    
                    margin-top: 50px;
                    margin-bottom: 50px;
    
                    img {
                        width: 75%;
                        
                    }
                }
    
                .theme-txt {
                    h1 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                }
            }

            .readMore {
                width: 80%;
                text-align: left;

                margin-bottom: 100px;

                a {
                    color: rgb(64, 142, 219);
                }

                .bracket-Calc {
                    display: none;
                }

                .bracket-explaination {
                    h3 {
                        padding-left: 20px;
                        padding-bottom: 10px;
                    }
                    p {
                        padding-left: 20px;
                    }
                }
            }
    
            .row01-left {
                display: flex;
                flex-direction: row;
                justify-content: left;
    
                margin-bottom: 100px;
    
                .test-img {
                    width: 150%;
    
                    padding-left: 20px;
                    padding-right: 50px;
    
                    margin-top: 50px;
    
                    img {
                        width: 70%;
                    }
                }
    
                .test-txt {
                    h2 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                }
    
    
            }
    
            .row02-right {
                display: flex;
                flex-direction: row-reverse;
                justify-content: left;
    
                margin-bottom: 100px;
    
                .test-img {
                    width: 150%;
    
                    padding-left: 50px;
                    padding-right: 20px;
    
                    margin-top: 50px;
    
                    img {
                        width: 100%;
                    }
                }
    
                .test-txt {
                    h2 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                }
    
    
            }

            hr {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    
        footer {
            background-image: url(assets/footer.png);
            color: white;
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            padding: 15px 50px;
    
            a {
                text-decoration: none;
                color: wheat;
    
                padding-left: 15px;
                padding-bottom: 5px;
            }
    
            h4 {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        
            .footer-left {
                display: flex;
                flex-direction: column;
                padding-left: 25px;
                padding-right: 25px;
                height: 95%;
                background-color: rgb(11, 105, 199);
    
                .contact {
    
                    display: flex;
                    flex-direction: column;
                }
                .nord {
    
                    display: flex;
                    flex-direction: column;
                }
            }
    
            .footer-center {
                .copyright {
    
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
    
                    height: 100%;
                    
                }
            }
    
            .footer-right {
                .social {
                    background-color: rgb(11, 105, 199);
                    padding-right: 25px;
                    padding-left: 25px;
                    height: 95%;
                    display: flex;
                    flex-direction: column;
                }
                
            }
        
        }
    }
}
