* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: auto;
}

body header {
  background-image: url(./assets/hp-header.png);
  text-align: center;
}

body header img {
  padding: 15px 25px;
}

body .Complete-Popup .setType .select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  width: 60%;
  z-index: 1;
  overflow: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #161616;
}

body .Complete-Popup .setType .select .itemName {
  color: #afafaf;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
}

body .Complete-Popup .setType .select .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10px;
}

body .Complete-Popup .setType .select .item img {
  margin-top: 25px;
  width: 12%;
  margin-bottom: 25px;
}

body .Complete-Popup .setType .select .item .text-box {
  color: #afafaf;
  margin-left: 20px;
}

body .Complete-Popup .setType .select .item .text-box h3 {
  color: white;
  margin-top: 25px;
  margin-bottom: 20px;
}

body footer {
  background-image: url(assets/footer.png);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 100px;
}

body footer a {
  text-decoration: none;
  color: wheat;
  padding-left: 15px;
  padding-bottom: 5px;
}

body footer h4 {
  padding-top: 10px;
  padding-bottom: 10px;
}

body footer .footer-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer-left .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer-left .nord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer .footer-center .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

body footer .footer-right .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=test.css.map */