* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #212121;
    
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;

    header {
        background-image: url(./assets/hp-header.png);

        text-align: center;

        img {
            padding: 15px 25px;
        }
    }

    .Complete-Popup {
        //display: none;
        .setType {
            .select {
                display: flex;
                flex-direction: column;
                margin: auto;
                width: 60%;

                margin-top: 20px;
                margin-bottom: 20px;

                background-color: rgb(22, 22, 22);
                .itemName {
                    color: rgb(175, 175, 175);
                    text-align: center;
                    padding-top: 15px;
                    padding-bottom: 20px;
                }
                .item {
                    display: flex;
                    flex-direction: row;

                    margin-left: 10px;
                    img {
                        margin-top: 25px;
                        width: 12%;
                        margin-bottom: 25px;
                    }
                    .text-box {
                        color: rgb(175, 175, 175);
                        margin-left: 20px;
                        h3 {
                            color: white;
                            margin-top: 25px;
                            margin-bottom: 20px;
                        }

                    }

                }
            }
        }
    }


    footer {
        background-image: url(assets/footer.png);
        color: white;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        padding: 15px 100px;

        a {
            text-decoration: none;
            color: wheat;

            padding-left: 15px;
            padding-bottom: 5px;
        }

        h4 {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    
        .footer-left {
            display: flex;
            flex-direction: column;

            .contact {

                display: flex;
                flex-direction: column;
            }
            .nord {

                display: flex;
                flex-direction: column;
            }
        }

        .footer-center {
            .copyright {

                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                height: 100%;
                
            }
        }

        .footer-right {
            .social {

                display: flex;
                flex-direction: column;
            }
            
        }
    
    }
}