* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  body header {
    background-image: url(./assets/hp-header.png);
    text-align: center;
  }
  body header img {
    padding: 15px 25px;
    width: 90%;
  }
  body span {
    margin-top: 10px;
    margin-left: 10px;
    background-color: deepskyblue;
    border-radius: 50%;
    padding: 10px 15px;
    text-align: center;
    position: fixed;
    cursor: pointer;
  }
  body span .mobile-menu {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 5px;
  }
  body .mobile-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .mobile-screen nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: aliceblue;
    width: 170px;
    height: auto;
    min-height: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #285599;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding-top: 10px;
  }
  body .mobile-screen nav a {
    text-decoration: none;
  }
  body .mobile-screen nav .closebutton {
    color: antiquewhite;
    font-size: 50px;
    text-align: right;
    width: 90%;
  }
  body .mobile-screen nav .dropdown-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    width: 170px;
    height: auto;
    font-size: 16px;
    border: none;
  }
  body .mobile-screen nav .dropdown-button:hover {
    background-color: none;
    height: auto;
  }
  body .mobile-screen nav .dropdown {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0px;
    margin: auto;
  }
  body .mobile-screen nav .dropdown:hover .dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #835151;
  }
  body .mobile-screen nav .dropdown-content {
    display: none;
    position: relative;
    padding-top: 15px;
    color: red;
    min-width: 170px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(250, 6, 6, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(250, 6, 6, 0.2);
    z-index: 2;
  }
  body .mobile-screen nav .dropdown-content a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
  }
  body .mobile-screen nav .dropdown-content a:hover {
    background-color: maroon;
    padding: 10px 25px;
  }
  body .mobile-screen .home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 70%;
    margin: auto;
    color: white;
  }
  body .mobile-screen .home-container .theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 100px;
  }
  body .mobile-screen .home-container .theme .theme-img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  body .mobile-screen .home-container .theme .theme-img img {
    width: 100%;
  }
  body .mobile-screen .home-container .theme .theme-txt {
    margin: auto;
  }
  body .mobile-screen .home-container .theme .theme-txt h1 {
    padding-bottom: 25px;
  }
  body .mobile-screen .home-container .row-disclaimer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 50px;
  }
  body .mobile-screen .home-container .row-disclaimer .disclaimer-img {
    width: 100%;
    margin-top: 50px;
  }
  body .mobile-screen .home-container .row-disclaimer .disclaimer-img img {
    width: 100%;
  }
  body .mobile-screen .home-container .row-disclaimer .disclaimer-txt {
    margin: auto;
    padding: 10px 15px;
    background-color: #464646;
    border: double;
    border-width: 5px;
    border-color: #ff5e00;
  }
  body .mobile-screen .home-container .row-disclaimer .disclaimer-txt h2 {
    padding-bottom: 25px;
  }
  body .mobile-screen .home-container .row01-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 50px;
  }
  body .mobile-screen .home-container .row01-left .test-img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  body .mobile-screen .home-container .row01-left .test-img img {
    width: 100%;
  }
  body .mobile-screen .home-container .row01-left .test-txt {
    margin: auto;
  }
  body .mobile-screen .home-container .row01-left .test-txt h2 {
    padding-bottom: 25px;
  }
  body .mobile-screen .home-container .row02-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 50px;
  }
  body .mobile-screen .home-container .row02-right .test-img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;
  }
  body .mobile-screen .home-container .row02-right .test-img img {
    width: 100%;
  }
  body .mobile-screen .home-container .row02-right .test-txt {
    margin: auto;
  }
  body .mobile-screen .home-container .row02-right .test-txt h2 {
    padding-bottom: 25px;
  }
  body .mobile-screen .home-container .set-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 50px;
  }
  body .mobile-screen .home-container .set-list .set-img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body .mobile-screen .home-container .set-list .set-img img {
    width: 50%;
  }
  body .mobile-screen .home-container .set-list .set-txt {
    width: 100%;
    margin: auto;
    text-align: left;
  }
  body .mobile-screen .home-container .set-list .set-txt h2 {
    padding-bottom: 25px;
    text-align: center;
  }
  body .mobile-screen .home-container .readMore {
    width: 100%;
    text-align: left;
    margin-bottom: 50px;
  }
  body .mobile-screen .home-container .readMore a {
    color: #408edb;
  }
  body footer {
    background-image: url(assets/footer.png);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 20px;
  }
  body footer a {
    text-decoration: none;
    color: wheat;
    padding-left: 15px;
    padding-bottom: 5px;
  }
  body footer h4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body footer .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .footer-left .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .footer-left .nord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .footer-center .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
  }
  body footer .footer-right .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  body {
    background-color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  body .mobile-menu-bar {
    display: none;
  }
  body header {
    background-image: url(./assets/hp-header.png);
    text-align: center;
  }
  body header img {
    padding: 15px 25px;
  }
  body nav {
    color: aliceblue;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  body nav .closebutton {
    display: none;
  }
  body nav .dropdown-button {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
  }
  body nav .dropdown-button:hover {
    background-color: none;
  }
  body nav .dropdown {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    margin: auto;
  }
  body nav .dropdown:hover .dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #212121;
  }
  body nav .dropdown-content {
    display: none;
    position: absolute;
    padding-top: 15px;
    color: red;
    min-width: 160px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(250, 6, 6, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(250, 6, 6, 0.2);
    z-index: 1;
  }
  body nav .dropdown-content a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
  }
  body nav .dropdown-content a:hover {
    background-color: maroon;
    padding: 10px 25px;
  }
  body .home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    width: 70%;
    margin: auto;
    color: white;
  }
  body .home-container .theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 100px;
  }
  body .home-container .theme .theme-img {
    width: 100%;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body .home-container .theme .theme-img img {
    width: 50%;
  }
  body .home-container .theme .theme-txt {
    margin: auto;
  }
  body .home-container .theme .theme-txt h1 {
    padding-bottom: 25px;
  }
  body .home-container .row-disclaimer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 100px;
  }
  body .home-container .row-disclaimer .disclaimer-img {
    width: 150%;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 50px;
  }
  body .home-container .row-disclaimer .disclaimer-img img {
    width: 100%;
  }
  body .home-container .row-disclaimer .disclaimer-txt {
    margin: auto;
    padding: 10px 15px;
    background-color: #464646;
    border: double;
    border-width: 5px;
    border-color: #ff5e00;
  }
  body .home-container .row-disclaimer .disclaimer-txt h2 {
    padding-bottom: 25px;
  }
  body .home-container .row01-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 10px;
  }
  body .home-container .row01-left .test-img {
    width: 150%;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body .home-container .row01-left .test-img img {
    width: 100%;
  }
  body .home-container .row01-left .test-txt {
    margin: auto;
  }
  body .home-container .row01-left .test-txt h2 {
    padding-bottom: 25px;
  }
  body .home-container .row02-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 100px;
  }
  body .home-container .row02-right .test-img {
    width: 150%;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body .home-container .row02-right .test-img img {
    width: 100%;
  }
  body .home-container .row02-right .test-txt {
    margin: auto;
  }
  body .home-container .row02-right .test-txt h2 {
    padding-bottom: 25px;
  }
  body .home-container .set-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 0px;
  }
  body .home-container .set-list .set-img {
    width: 150%;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body .home-container .set-list .set-img img {
    width: 50%;
  }
  body .home-container .set-list .set-txt {
    width: 150%;
    margin: auto;
    text-align: left;
  }
  body .home-container .set-list .set-txt h2 {
    padding-bottom: 25px;
    padding-left: 50px;
  }
  body .home-container .readMore {
    width: 80%;
    text-align: left;
    margin-bottom: 100px;
  }
  body .home-container .readMore a {
    color: #408edb;
  }
  body footer {
    background-image: url(assets/footer.png);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 50px;
  }
  body footer a {
    text-decoration: none;
    color: wheat;
    padding-left: 15px;
    padding-bottom: 5px;
  }
  body footer h4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body footer .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    height: 95%;
    background-color: #0b69c7;
  }
  body footer .footer-left .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .footer-left .nord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .footer-center .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
  }
  body footer .footer-right .social {
    background-color: #0b69c7;
    padding-right: 25px;
    padding-left: 25px;
    height: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=ancient-sets.css.map */