* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    hr {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 600px){
    body {
        header {
            display: none;
        }
    
        .error {
            justify-content: center;
            text-align: center;

            margin: auto;
            padding: 50% 5%;
        }
        .mobile-screen {
            display: none;
        }
        .Complete-Popup {
            display: none;
        }
        footer {
            display: none;
        }
    }
}


@media only screen and (min-width: 600px) {
    body {
        background-color: #212121;
        
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: auto;

        .error {
            display: none;
        }

        .mobile-menu-bar {
            display: none;
        }
    
        header {
            background-image: url(./assets/hp-header.png);
    
            text-align: center;
    
            img {
                padding: 15px 25px;
            }
        }
    
        nav {
            
            color: aliceblue;
    
            width: 75%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
    
            margin: auto;

            .closebutton {
                display: none;
            }
    
            .dropdown-button {
                color: white;
                text-decoration: none;
    
                padding: 15px 25px; 
                
                font-size: 16px;
                border: none;
        
            }
            .dropdown-button:hover {
                background-color: none;
            }
    
            .dropdown {
                position: relative;
                display: inline-block;
    
                padding: 15px 25px;
    
                margin: auto;
            }
            .dropdown:hover {
                .dropdown-content{
                    display: flex;
                    flex-direction: column;
                    background-color: #212121
    
                } 
            }
    
            .dropdown-content {
                display: none;
                position: absolute;
    
                padding-top: 15px;
    
                color: red;
                min-width: 160px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                box-shadow: 0px 8px 16px 0px rgba(250, 6, 6, 0.2);
                z-index: 1;
    
                a {
                    color: white;
                    text-decoration: none;
                    padding: 10px 10px;
    
                }
                a:hover {
                    background-color: maroon;
                    padding: 10px 25px;
                }
            }
    
        }
    
        .home-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            position: relative;
    
            width: 70%;
    
            margin: auto;
    
            color: white;

            
    
            .theme {
                display: flex;
                flex-direction: column;
                justify-content: left;
    
                margin-bottom: 100px;
    
                .theme-img {
                    width: 100%;
    
                    padding-left: 20px;
                    padding-right: 50px;
    
                    margin-top: 50px;
                    margin-bottom: 50px;
    
                    img {
                        width: 75%;
                        
                    }
                }
    
                .theme-txt {
                    h1 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                }
            }
    
            .row-disclaimer {
                display: flex;
                flex-direction: row-reverse;
                justify-content: left;
    
                margin-bottom: 100px;
    
                .disclaimer-img {
                    width: 150%;
    
                    padding-left: 50px;
                    padding-right: 20px;
    
                    margin-top: 50px;
    
                    img {
                        width: 100%;
                    }
                }
    
                .disclaimer-txt {
                    h2 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                    padding: 10px 15px;
                    background-color: #464646;

                    border: double;
                    border-width: 5px;
                    border-color: rgb(255, 94, 0);
                }
            }

            .row01-left {
                display: flex;
                flex-direction: row;
                justify-content: left;
    
                margin-bottom: 10px;
    
                .test-img {
                    width: 150%;
    
                    padding-left: 20px;
                    padding-right: 50px;
    
                    margin-top: 50px;
                    margin-bottom: 50px;
    
                    img {
                        width: 100%;
                    }
                }
    
                .test-txt {
                    h2 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                }
    
    
            }

            .row02-right {
                display: flex;
                flex-direction: row-reverse;
                justify-content: left;
    
                margin-bottom: 100px;
    
                .test-img {
                    width: 150%;
    
                    padding-left: 50px;
                    padding-right: 20px;
    
                    margin-top: 50px;
                    margin-bottom: 50px;
    
                    img {
                        width: 100%;
                    }
                }
    
                .test-txt {
                    h2 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                }
    
            }

            .middle {
                display: flex;
                flex-direction: row;

                .allClasses {
                    width: 70%;
                    font-size: 13px;

                    .set-list {
                        display: flex;
                        flex-direction: row-reverse;
                        justify-content: left;
            
                        margin-bottom: 0px;
            
                        .set-img {
                            display: flex;
                            flex-direction: column;
                            width: 150%;
            
                            padding-left: 50px;
                            padding-right: 20px;
            
                            margin-top: 50px;
                            margin-bottom: 50px;
            
                            img {
                                width: 50%;
                                margin-bottom: 5px;
                            }

                            .selectSet {
                                width: 35%;
                                padding: 10px 20px;
                                border-radius: 5px;
                                cursor: pointer;

                                background-color: rgb(49, 141, 247);
                                border-color: rgb(49, 141, 247);
                                transition-duration: 0.2s;
                            }
                            .selectSet:hover {
                                border-radius: 5px;
                                background-color: rgb(86, 161, 248);
                                border-color: rgb(49, 141, 247);
                            }
                            .selectSet:visited {
                                border-radius: 5px;
                            }
                            .selectSet:active {
                                background-color: rgb(138, 189, 248);
                            }

                        }
            
                        .set-txt {
                            h2 {
                                padding-bottom: 25px;
                                padding-left: 50px;
                            }
                            width: 150%;
                            margin: auto;
                            text-align: left;
                        }
            
                    }
                }

                .gear-right {
                    width: auto;
                    
                    .gear-avatar {
                        top: 50px;
                        width: 302px;
                        height: 309px;
                        position: sticky;
                        
                        .gearSlots {
                            display: grid;
        
                            grid-template-areas:    'weaponsoul' 'empty' 'weapon'
                                                    'armorsoul' 'empty' 'armor'
                                                    'ring' 'amulet' 'artefact';
                            
                            grid-template-columns:  2fr 2.8fr 2fr;
                            grid-template-rows:     1fr 1fr 1fr;
                            
                            width: 302px;
                            height: 309px;
                            
        
                            background-image: url(assets/gear-blanco.png);
                            background-size: contain;
                            
                            
                            
        
                            .weaponsoul {
                                margin-top: 20%;
                                border-radius: 20%;
                                cursor: pointer;
        
        
                                
                                opacity: 0.5;
                            }
                            .weapon {
                                margin-top: 20%;
                                border-radius: 20%;
                                cursor: pointer;
        
                                
                                opacity: 0.5;
                            }
                            .armorsoul {
                                margin-top: 20%;
                                border-radius: 20%;
                                cursor: pointer;
        
                                
                                opacity: 0.5;
                            }
                            .armor {
                                margin-top: 20%;
                                border-radius: 20%;
                                cursor: pointer;
        
                                
                                opacity: 0.5;
                            }
                            .ring {
                                margin-top: 22%;
                                border-radius: 20%;
                                cursor: pointer;
        
                                margin-left: 35%;
                                width: 88%;
                                height: 76%;
        
                                
                                opacity: 0.5;
                            }
                            .amulet {
                                margin-top: 18%;
                                border-radius: 20%;
                                cursor: pointer;
        
                                margin-left: 20%;
                                width: 60%;
                                height: 75%;
        
                                
                                opacity: 0;
                            }
                            .artefact {
                                margin-top: 22%;
                                border-radius: 20%;
                                cursor: not-allowed;
        
                                background-color: black;
                                margin-left: -20%;
                                width: 88%;
                                height: 76%;
        
                                
                                opacity: 0.5;
                            }
        
                        }
                    }
                }
                
            }

            .readMore {
                width: 80%;
                text-align: left;

                margin-bottom: 100px;

                a {
                    color: rgb(64, 142, 219);
                }
            }
        }

        .Complete-Popup {
            .setType {
                .select {
                    display: flex;
                    flex-direction: column;
                    margin: auto;
                    width: 100%;
                    height: 150%;

                    position: fixed;
                    top: -200px;
                    left: 50px;
                    z-index: 1;
                    overflow: auto;
                    transform: scale(0.6,0.6);
    
                    margin-top: 0px;
                    margin-bottom: 20px;
    
                    background-color: rgb(22, 22, 22);
                    .itemName {
                        color: rgb(175, 175, 175);
                        text-align: center;
                        padding-top: 30px;
                        padding-bottom: 0px;

                        .modal-close {
                            float: right;
                            margin-right: 30px;
                            font-size: 60px;

                        }
                        .modal-close:hover,
                        .modal-close:focus {
                            color: white;
                            text-decoration: none;
                            cursor: pointer;
                        }
                    }
                    .item {
                        display: flex;
                        flex-direction: row;
    
                        margin-left: 10px;
                        img {
                            margin-top: 25px;
                            width: 12%;
                            margin-bottom: 25px;
                        }
                        .text-box {
                            color: rgb(175, 175, 175);
                            margin-left: 20px;
                            h3 {
                                color: white;
                                margin-top: 25px;
                                margin-bottom: 20px;
                                
                            }
    
                        }
    
                    }
                }
                .selectWeapon-ash {
                    display: none;
                }
                .selectWsoul-ash {
                    display: none;
                }
                .selectArmor-ash {
                    display: none;
                }
                .selectAsoul-ash {
                    display: none;
                }
                .selectRing-ash {
                    display: none;
                }
                .selectAmulet-ash {
                    display: none;
                }
                .selectArtifact-ash {
                    display: none;
                }

                .selectWeapon-pala {
                    display: none;
                }
                .selectWsoul-pala {
                    display: none;
                }
                .selectArmor-pala {
                    display: none;
                }
                .selectAsoul-pala {
                    display: none;
                }
                .selectRing-pala {
                    display: none;
                }
                .selectAmulet-pala {
                    display: none;
                }
                .selectArtifact-pala {
                    display: none;
                }

                .selectWeapon-oracle {
                    display: none;
                }
                .selectWsoul-oracle {
                    display: none;
                }
                .selectArmor-oracle {
                    display: none;
                }
                .selectAsoul-oracle {
                    display: none;
                }
                .selectRing-oracle {
                    display: none;
                }
                .selectAmulet-oracle {
                    display: none;
                }
                .selectArtifact-oracle {
                    display: none;
                }

                .selectWeapon-dark {
                    display: none;
                }
                .selectWsoul-dark {
                    display: none;
                }
                .selectArmor-dark {
                    display: none;
                }
                .selectAsoul-dark {
                    display: none;
                }
                .selectRing-dark {
                    display: none;
                }
                .selectAmulet-dark {
                    display: none;
                }
                .selectArtifact-dark {
                    display: none;
                }

                .selectWeapon-anni {
                    display: none;
                }
                .selectWsoul-anni {
                    display: none;
                }
                .selectArmor-anni {
                    display: none;
                }
                .selectAsoul-anni {
                    display: none;
                }
                .selectRing-anni {
                    display: none;
                }
                .selectAmulet-anni {
                    display: none;
                }
                .selectArtifact-anni {
                    display: none;
                }
            }
        }
    
    
        footer {
            background-image: url(assets/footer.png);
            color: white;
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            padding: 15px 50px;
    
            a {
                text-decoration: none;
                color: wheat;
    
                padding-left: 15px;
                padding-bottom: 5px;
            }
    
            h4 {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        
            .footer-left {
                display: flex;
                flex-direction: column;
                padding-left: 25px;
                padding-right: 25px;
                height: 95%;
                background-color: rgb(11, 105, 199);
    
                .contact {
    
                    display: flex;
                    flex-direction: column;
                }
                .nord {
    
                    display: flex;
                    flex-direction: column;
                }
            }
    
            .footer-center {
                .copyright {
    
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
    
                    height: 100%;
                    
                }
            }
    
            .footer-right {
                .social {
                    background-color: rgb(11, 105, 199);
                    padding-right: 25px;
                    padding-left: 25px;
                    height: 95%;
                    display: flex;
                    flex-direction: column;
                }
                
            }
        
        }
    }
}
