* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px){
    body {
        background-color: #212121;
        
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: auto;
    
        header {
            background-image: url(./assets/hp-header.png);
    
            
            text-align: center;
    
            img {
                padding: 15px 25px;
                width: 90%;
            }
        }

        span {
            margin-top: 10px;
            margin-left: 10px;
            background-color: deepskyblue;
            border-radius: 50%;
            padding: 10px 15px;
            text-align: center;
            position: fixed;

            cursor: pointer;
            
            .mobile-menu {
                width: 35px;
                height: 5px;
                background-color: rgb(255, 255, 255);
                margin: 6px 5px;
            }
            
        }
        
        .mobile-screen {
            display: flex;
            flex-direction: row;


            nav {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                

                color: aliceblue;

                width: 170px;
                height: auto;
                min-height: 100%;
                position: fixed;
                overflow: hidden;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: rgb(40, 85, 153);
                    
                transition: 0.5s;
                padding-top: 10px;

                a{
                    text-decoration: none;
                }

                .closebutton {
                    color: antiquewhite;
                    font-size: 50px;
                    text-align: right;
                    width: 90%;
                }


                .dropdown-button {
                    display: flex;
                    flex-direction: column;
                    color: white;
                    text-decoration: none;
        
                    padding: 15px 25px; 
                    width: 170px;
                    height: auto;
                    font-size: 16px;
                    border: none;
            
                }
                .dropdown-button:hover {
                    background-color: none;
                    
                    height: auto;
                }

                .dropdown {
                    

                    position: relative;
                    display: flex;
                    flex-direction: column;
        
                    padding: 15px 0px;
                    
                    margin: auto;
                }
                .dropdown:hover {
                    
                    .dropdown-content{
                        
                        display: flex;
                        flex-direction: column;
                        background-color: #835151;
                        
        
                    } 
                }
        
                .dropdown-content {
                    display: none;
                    position: relative;
        
                    padding-top: 15px;
        
                    color: red;
                    min-width: 170px;
                    border-bottom-right-radius: 5px;
                    border-bottom-left-radius: 5px;
                    box-shadow: 0px 8px 16px 0px rgba(250, 6, 6, 0.2);
                    z-index: 2;
        
                    a {
                        color: white;
                        text-decoration: none;
                        padding: 10px 10px;
        
                    }
                    a:hover {
                        background-color: maroon;
                        padding: 10px 25px;
                    }
                }

        
            }

            

        

            .home-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
        
                width: 70%;
        
                margin: auto;
        
                color: white;
        

                .theme {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
        
                    margin-bottom: 100px;
        
                    .theme-img {
                        width: 100%;
        
        
                        margin-top: 50px;
                        margin-bottom: 40px;
        
                        img {
                            width: 100%;
                        }
                    }
        
                    .theme-txt {
                        h1 {
                            padding-bottom: 25px;
                        }
                        margin: auto;
                    }
        
        
                }

                .row-disclaimer {
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: left;
        
                    margin-bottom: 100px;
        
                    .disclaimer-img {
                        width: 100%;
        
                        
                        
                        margin-top: 50px;
        
                        img {
                            width: 100%;
                        }
                    }
        
                    .disclaimer-txt {
                        h2 {
                            padding-bottom: 25px;
                        }
                        margin: auto;
                        padding: 10px 15px;
                        background-color: #464646;
    
                        border: double;
                        border-width: 5px;
                        border-color: rgb(255, 94, 0);
                    }
                }

                .row01-left {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
        
                    margin-bottom: 100px;
        
                    .test-img {
                        width: 100%;
        
        
                        margin-top: 50px;
                        margin-bottom: 40px;
        
                        img {
                            width: 100%;
                        }
                    }
        
                    .test-txt {
                        h2 {
                            padding-bottom: 25px;
                        }
                        margin: auto;
                    }
        
        
                }
        
                .row02-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: left;
        
                    margin-bottom: 100px;
        
                    .test-img {
                        width: 100%;
        
                        
        
                        margin-top: 50px;
                        margin-bottom: 40px;
        
                        img {
                            width: 100%;
                        }
                    }
        
                    .test-txt {
                        h2 {
                            padding-bottom: 25px;
                        }
                        margin: auto;
                    }
        
        
                }
            } 
        }

        footer {
            background-image: url(assets/footer.png);
            color: white;
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            padding: 15px 20px;
    
            a {
                text-decoration: none;
                color: wheat;
    
                padding-left: 15px;
                padding-bottom: 5px;
            }
    
            h4 {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        
            .footer-left {
                display: flex;
                flex-direction: column;
    
                .contact {
    
                    display: flex;
                    flex-direction: column;
                }
                .nord {
    
                    display: flex;
                    flex-direction: column;
                }
            }
    
            .footer-center {
                .copyright {
    
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
    
                    height: 100%;
                    
                }
            }
    
            .footer-right {
                .social {
    
                    display: flex;
                    flex-direction: column;
                }
                
            }
        
        }
    }
}



@media only screen and (min-width: 600px) {
    body {
        background-color: #212121;
        
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: auto;

        .mobile-menu-bar {
            display: none;
        }
    
        header {
            background-image: url(./assets/hp-header.png);
    
            text-align: center;
    
            img {
                padding: 15px 25px;
            }
        }
    
        nav {
            
            color: aliceblue;
    
            width: 75%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
    
            margin: auto;

            .closebutton {
                display: none;
            }
    
            .dropdown-button {
                color: white;
                text-decoration: none;
    
                padding: 15px 25px; 
                
                font-size: 16px;
                border: none;
        
            }
            .dropdown-button:hover {
                background-color: none;
            }
    
            .dropdown {
                position: relative;
                display: inline-block;
    
                padding: 15px 25px;
    
                margin: auto;
            }
            .dropdown:hover {
                .dropdown-content{
                    display: flex;
                    flex-direction: column;
                    background-color: #212121
    
                } 
            }
    
            .dropdown-content {
                display: none;
                position: absolute;
    
                padding-top: 15px;
    
                color: red;
                min-width: 160px;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                box-shadow: 0px 8px 16px 0px rgba(250, 6, 6, 0.2);
                z-index: 1;
    
                a {
                    color: white;
                    text-decoration: none;
                    padding: 10px 10px;
    
                }
                a:hover {
                    background-color: maroon;
                    padding: 10px 25px;
                }
            }
    
        }
    
        .home-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
    
            width: 70%;
    
            margin: auto;
    
            color: white;
    
            .theme {
                display: flex;
                flex-direction: column;
                justify-content: left;
    
                margin-bottom: 100px;
    
                .theme-img {
                    width: 100%;
    
                    padding-left: 20px;
                    padding-right: 50px;
    
                    margin-top: 50px;
                    margin-bottom: 50px;
    
                    img {
                        width: 50%;
                    }
                }
    
                .theme-txt {
                    h1 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                }
            }
    
            .row-disclaimer {
                display: flex;
                flex-direction: row-reverse;
                justify-content: left;
    
                margin-bottom: 100px;
    
                .disclaimer-img {
                    width: 150%;
    
                    padding-left: 50px;
                    padding-right: 20px;
    
                    margin-top: 50px;
    
                    img {
                        width: 100%;
                    }
                }
    
                .disclaimer-txt {
                    h2 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                    padding: 10px 15px;
                    background-color: #464646;

                    border: double;
                    border-width: 5px;
                    border-color: rgb(255, 94, 0);
                }
            }

            .row01-left {
                display: flex;
                flex-direction: row;
                justify-content: left;
    
                margin-bottom: 100px;
    
                .test-img {
                    width: 150%;
    
                    padding-left: 20px;
                    padding-right: 50px;
    
                    margin-top: 50px;
                    margin-bottom: 50px;
    
                    img {
                        width: 100%;
                    }
                }
    
                .test-txt {
                    h2 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                }
    
    
            }

            .row02-right {
                display: flex;
                flex-direction: row-reverse;
                justify-content: left;
    
                margin-bottom: 100px;
    
                .test-img {
                    width: 150%;
    
                    padding-left: 50px;
                    padding-right: 20px;
    
                    margin-top: 50px;
                    margin-bottom: 50px;
    
                    img {
                        width: 100%;
                    }
                }
    
                .test-txt {
                    h2 {
                        padding-bottom: 25px;
                    }
                    margin: auto;
                }
    
            }
        }
    
        footer {
            background-image: url(assets/footer.png);
            color: white;
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
    
            padding: 15px 50px;
    
            a {
                text-decoration: none;
                color: wheat;
    
                padding-left: 15px;
                padding-bottom: 5px;
            }
    
            h4 {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        
            .footer-left {
                display: flex;
                flex-direction: column;
                padding-left: 25px;
                padding-right: 25px;
                height: 95%;
                background-color: rgb(11, 105, 199);
    
                .contact {
    
                    display: flex;
                    flex-direction: column;
                }
                .nord {
    
                    display: flex;
                    flex-direction: column;
                }
            }
    
            .footer-center {
                .copyright {
    
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
    
                    height: 100%;
                    
                }
            }
    
            .footer-right {
                .social {
                    background-color: rgb(11, 105, 199);
                    padding-right: 25px;
                    padding-left: 25px;
                    height: 95%;
                    display: flex;
                    flex-direction: column;
                }
                
            }
        
        }
    }
}
