* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

* hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
  body header {
    display: none;
  }
  body .error {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: auto;
    padding: 50% 5%;
  }
  body .mobile-screen {
    display: none;
  }
  body .Complete-Popup {
    display: none;
  }
  body footer {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  body {
    background-color: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
  body .error {
    display: none;
  }
  body .mobile-menu-bar {
    display: none;
  }
  body header {
    background-image: url(./assets/hp-header.png);
    text-align: center;
  }
  body header img {
    padding: 15px 25px;
  }
  body nav {
    color: aliceblue;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;
  }
  body nav .closebutton {
    display: none;
  }
  body nav .dropdown-button {
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 16px;
    border: none;
  }
  body nav .dropdown-button:hover {
    background-color: none;
  }
  body nav .dropdown {
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    margin: auto;
  }
  body nav .dropdown:hover .dropdown-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #212121;
  }
  body nav .dropdown-content {
    display: none;
    position: absolute;
    padding-top: 15px;
    color: red;
    min-width: 160px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(250, 6, 6, 0.2);
            box-shadow: 0px 8px 16px 0px rgba(250, 6, 6, 0.2);
    z-index: 1;
  }
  body nav .dropdown-content a {
    color: white;
    text-decoration: none;
    padding: 10px 10px;
  }
  body nav .dropdown-content a:hover {
    background-color: maroon;
    padding: 10px 25px;
  }
  body .home-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: relative;
    width: 70%;
    margin: auto;
    color: white;
  }
  body .home-container .theme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 100px;
  }
  body .home-container .theme .theme-img {
    width: 100%;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body .home-container .theme .theme-img img {
    width: 75%;
  }
  body .home-container .theme .theme-txt {
    margin: auto;
  }
  body .home-container .theme .theme-txt h1 {
    padding-bottom: 25px;
  }
  body .home-container .row-disclaimer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 100px;
  }
  body .home-container .row-disclaimer .disclaimer-img {
    width: 150%;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 50px;
  }
  body .home-container .row-disclaimer .disclaimer-img img {
    width: 100%;
  }
  body .home-container .row-disclaimer .disclaimer-txt {
    margin: auto;
    padding: 10px 15px;
    background-color: #464646;
    border: double;
    border-width: 5px;
    border-color: #ff5e00;
  }
  body .home-container .row-disclaimer .disclaimer-txt h2 {
    padding-bottom: 25px;
  }
  body .home-container .row01-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 10px;
  }
  body .home-container .row01-left .test-img {
    width: 150%;
    padding-left: 20px;
    padding-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body .home-container .row01-left .test-img img {
    width: 100%;
  }
  body .home-container .row01-left .test-txt {
    margin: auto;
  }
  body .home-container .row01-left .test-txt h2 {
    padding-bottom: 25px;
  }
  body .home-container .row02-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 100px;
  }
  body .home-container .row02-right .test-img {
    width: 150%;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body .home-container .row02-right .test-img img {
    width: 100%;
  }
  body .home-container .row02-right .test-txt {
    margin: auto;
  }
  body .home-container .row02-right .test-txt h2 {
    padding-bottom: 25px;
  }
  body .home-container .middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .home-container .middle .allClasses {
    width: 70%;
    font-size: 13px;
  }
  body .home-container .middle .allClasses .set-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin-bottom: 0px;
  }
  body .home-container .middle .allClasses .set-list .set-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 150%;
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  body .home-container .middle .allClasses .set-list .set-img img {
    width: 50%;
    margin-bottom: 5px;
  }
  body .home-container .middle .allClasses .set-list .set-img .selectSet {
    width: 35%;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #318df7;
    border-color: #318df7;
    -webkit-transition-duration: 0.2s;
            transition-duration: 0.2s;
  }
  body .home-container .middle .allClasses .set-list .set-img .selectSet:hover {
    border-radius: 5px;
    background-color: #56a1f8;
    border-color: #318df7;
  }
  body .home-container .middle .allClasses .set-list .set-img .selectSet:visited {
    border-radius: 5px;
  }
  body .home-container .middle .allClasses .set-list .set-img .selectSet:active {
    background-color: #8abdf8;
  }
  body .home-container .middle .allClasses .set-list .set-txt {
    width: 150%;
    margin: auto;
    text-align: left;
  }
  body .home-container .middle .allClasses .set-list .set-txt h2 {
    padding-bottom: 25px;
    padding-left: 50px;
  }
  body .home-container .middle .gear-right {
    width: auto;
  }
  body .home-container .middle .gear-right .gear-avatar {
    top: 50px;
    width: 302px;
    height: 309px;
    position: -webkit-sticky;
    position: sticky;
  }
  body .home-container .middle .gear-right .gear-avatar .gearSlots {
    display: -ms-grid;
    display: grid;
        grid-template-areas: 'weaponsoul' 'empty' 'weapon' 'armorsoul' 'empty' 'armor' 'ring' 'amulet' 'artefact';
    -ms-grid-columns: 2fr 2.8fr 2fr;
        grid-template-columns: 2fr 2.8fr 2fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    width: 302px;
    height: 309px;
    background-image: url(assets/gear-blanco.png);
    background-size: contain;
  }
  body .home-container .middle .gear-right .gear-avatar .gearSlots .weaponsoul {
    margin-top: 20%;
    border-radius: 20%;
    cursor: pointer;
    opacity: 0.5;
  }
  body .home-container .middle .gear-right .gear-avatar .gearSlots .weapon {
    margin-top: 20%;
    border-radius: 20%;
    cursor: pointer;
    opacity: 0.5;
  }
  body .home-container .middle .gear-right .gear-avatar .gearSlots .armorsoul {
    margin-top: 20%;
    border-radius: 20%;
    cursor: pointer;
    opacity: 0.5;
  }
  body .home-container .middle .gear-right .gear-avatar .gearSlots .armor {
    margin-top: 20%;
    border-radius: 20%;
    cursor: pointer;
    opacity: 0.5;
  }
  body .home-container .middle .gear-right .gear-avatar .gearSlots .ring {
    margin-top: 22%;
    border-radius: 20%;
    cursor: pointer;
    margin-left: 35%;
    width: 88%;
    height: 76%;
    opacity: 0.5;
  }
  body .home-container .middle .gear-right .gear-avatar .gearSlots .amulet {
    margin-top: 18%;
    border-radius: 20%;
    cursor: pointer;
    margin-left: 20%;
    width: 60%;
    height: 75%;
    opacity: 0;
  }
  body .home-container .middle .gear-right .gear-avatar .gearSlots .artefact {
    margin-top: 22%;
    border-radius: 20%;
    cursor: not-allowed;
    background-color: black;
    margin-left: -20%;
    width: 88%;
    height: 76%;
    opacity: 0.5;
  }
  body .home-container .readMore {
    width: 80%;
    text-align: left;
    margin-bottom: 100px;
  }
  body .home-container .readMore a {
    color: #408edb;
  }
  body .Complete-Popup .setType .select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 100%;
    height: 150%;
    position: fixed;
    top: -200px;
    left: 50px;
    z-index: 1;
    overflow: auto;
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #161616;
  }
  body .Complete-Popup .setType .select .itemName {
    color: #afafaf;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
  }
  body .Complete-Popup .setType .select .itemName .modal-close {
    float: right;
    margin-right: 30px;
    font-size: 60px;
  }
  body .Complete-Popup .setType .select .itemName .modal-close:hover,
  body .Complete-Popup .setType .select .itemName .modal-close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  body .Complete-Popup .setType .select .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 10px;
  }
  body .Complete-Popup .setType .select .item img {
    margin-top: 25px;
    width: 12%;
    margin-bottom: 25px;
  }
  body .Complete-Popup .setType .select .item .text-box {
    color: #afafaf;
    margin-left: 20px;
  }
  body .Complete-Popup .setType .select .item .text-box h3 {
    color: white;
    margin-top: 25px;
    margin-bottom: 20px;
  }
  body .Complete-Popup .setType .selectWeapon-ash {
    display: none;
  }
  body .Complete-Popup .setType .selectWsoul-ash {
    display: none;
  }
  body .Complete-Popup .setType .selectArmor-ash {
    display: none;
  }
  body .Complete-Popup .setType .selectAsoul-ash {
    display: none;
  }
  body .Complete-Popup .setType .selectRing-ash {
    display: none;
  }
  body .Complete-Popup .setType .selectAmulet-ash {
    display: none;
  }
  body .Complete-Popup .setType .selectArtifact-ash {
    display: none;
  }
  body .Complete-Popup .setType .selectWeapon-pala {
    display: none;
  }
  body .Complete-Popup .setType .selectWsoul-pala {
    display: none;
  }
  body .Complete-Popup .setType .selectArmor-pala {
    display: none;
  }
  body .Complete-Popup .setType .selectAsoul-pala {
    display: none;
  }
  body .Complete-Popup .setType .selectRing-pala {
    display: none;
  }
  body .Complete-Popup .setType .selectAmulet-pala {
    display: none;
  }
  body .Complete-Popup .setType .selectArtifact-pala {
    display: none;
  }
  body footer {
    background-image: url(assets/footer.png);
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 50px;
  }
  body footer a {
    text-decoration: none;
    color: wheat;
    padding-left: 15px;
    padding-bottom: 5px;
  }
  body footer h4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  body footer .footer-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    height: 95%;
    background-color: #0b69c7;
  }
  body footer .footer-left .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .footer-left .nord {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .footer-center .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    height: 100%;
  }
  body footer .footer-right .social {
    background-color: #0b69c7;
    padding-right: 25px;
    padding-left: 25px;
    height: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=ancient-sets.css.map */