@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

*{
  padding: 0;
  margin: 0;
  border: 0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }

  .avatar {
    background-image: url(./images/gear-blanco.png);
    background-size: cover;
    width: 350px;
    height: 350px;
  }
}
@media only screen and (min-width: 600px) {
  .mobile-nav {
    display: none;
  }

  .avatar {
    background-image: url(./images/gear-blanco.png);
    background-size: cover;
    width: 450px;
    height: 450px;

  }
}


body {
  background-color: #212121;
  color: rgb(214, 214, 214);

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100%;
  height: auto;
}

body header {
  height: 5rem;
  width: 100%;

  background-image: url(./images/hp-header.png);
}

body .App-container {
  max-width: 2000px;
  margin: auto;
}

body footer {
  height: 3rem;
  width: 100%;

  bottom: 0;

  background-image: url(./images/footer.png);
}

